/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* globalrest end */

@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("fonts/sanfrancisco-webfont.woff");
}

.container {
	font-family: "San Francisco";
	max-width: 2400;
	width: 900px;
	margin: 2em auto;
	padding: 2em;
	border: 1px solid #999;
	background-color: #eee;
	border-radius: 16px;
	clear: both;
	min-height: 100%; 
}

article {
	min-height: 75vw;
}

header h1 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

/* NAV */

nav {
	width: 100%;
	padding: 15px;
}

nav ul {
	text-align: center;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
	display: inline-block;
	padding: 1em;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

nav a {
	display: block;
	list-style-type: none;
	overflow: hidden;
	color: rgb(128, 128, 128);
	letter-spacing: .2em;
	text-decoration: none;
	transition: color 200ms;
}

nav a:hover {
	color: rgb(185, 185, 185);
}

nav a:after {
	position: absolute;
	display: block;
	text-shadow: none;
	top: 30%;
	left: 18px;
	padding: 5px 7px;
	color: transparent;
}

/* END NAV */

footer {
	text-align: center;
	bottom: 10px;
	width: 100%;
}

/* DEBUG */

/*class*/
.d {
	border: 1px solid red;
}